

.country-list {
    padding: 20px;
  }
  
  .country-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .country-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .country-flag {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .country-details {
    text-align: center;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #d6dde3;
    color: #fff;
  }

.pagination .page-link {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}


.pagination .page-item.active .page-link {
  background-color: #dbdfe4; 
  color: #fff; 
}


.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 20px; 
  top: 50%; 
  transform: translateY(-50%); 
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  margin-bottom: 40px; 
}

.pagination button.active {
  background-color: #d6dde3;
  color: #fff;
}
  